# Claves SSH
*.pem
*.key

# Variables de entorno
.env
.env.*
!.env.example

# Artefactos de build
*.tar.gz
*.zip
infra/terraform/build/
infra/terraform/layers/

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
