# Backend Configuration

# Port
PORT=3000

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# RDS
DB_HOST=
DB_USER=admin
DB_PASSWORD=
DB_NAME=marketplace

# S3
S3_BUCKET_NAME=grupo3-marketplace-product-images

# SQS
ORDERS_QUEUE_URL=

# Node
NODE_ENV=production
